@import "vars";

// header zone start
.header__container {
  box-shadow: 0px 2px 2px rgba(159, 159, 159, 0.208);

  .menu__list {
    width: 100%;

    .input__search {
      width: 420px;
    }

    .img__container--logo {
      .img__logo {
        height: 40px;
        width: 40px;
      }
    }

    .box__user {
      .search__container--icon {
        border-radius: 10px;
        cursor: pointer;
        width: 40px;
        height: 40px;
      }

      .search__container--icon:hover {
        background-color: #a394df52;
      }

      .avatar__circle {
        border-radius: 100px;
        padding: 3px;
        cursor: pointer;

        &--container {
          width: 32px;
          height: 32px;

          .img__avatar {
            width: 100%;
            border-radius: 100px;
          }
        }
      }

      .avatar__circle:hover {
        background-color: #a394df52;
      }

      .box__notifications {
        width: 40px;
        height: 40px;
        position: relative;

        .counter__notification {
          &--number {
            font-size: 15px;
            background-color: red;
            position: absolute;
            right: 0px;
            top: -5px;
            border-radius: 7px;
            color: white;
            font-weight: bold;
            border: 2px solid white;
          }
        }
      }

      .box__notifications:hover {
        background-color: #a394df52;
        border-radius: 10px;
      }
    }
  }
}

// header zone end

// main start
.contenedor__main{
    background-color: rgba(90, 90, 90, 0.139);
}



.tags__menu{
    font-size: 18px;

    li:active{
        font-weight: bolder;
    }

}

.img__avatar{
    width: 100%;
    border-radius: 100px;
    width: 32px;
    height: 32px;
}

.nombre__usuario,.fecha__post{
    font-size: 13px;
    
}
.post__readed{
    font-size: 13px;
}

.icon__reaction{
    position: relative;
    left: -10px;
}

.comentario {
    background-color: rgba(128, 128, 128, 0.157);
}

.comentario__username{
    font-weight: bold;
}

.nav__bar_left {
  display: block;
}

.nav__bar_left ul {
  list-style-type: none;
}
// main end

/*
    container zone start
        
    container zone end
*/


body{
    // background: $primary-color; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}


.crayons-card{
    padding: 12px;
    width: 240px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0 0 1px var(--card-secondary-border);
}

.dev__title{
    font-size: 14px;
}

.crayons-avatar__image {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: bottom;
}
.crayons-avatar--xl {
    width: var(--su-8);
    height: var(--su-8);
}
.crayons-avatar {
    display: inline-block;
    border-radius: 100%;
    position: relative;
    background-color: var(--card-color-tertiary);
    width: var(--su-6);
    height: var(--su-6);
    overflow: hidden;
    vertical-align: middle;
    flex-shrink: 0;
}

.crayons-btn{
    --shadow-color: rgba(0, 0, 0, 0.05);
    background-color: rgba(59,73,223,255);
    color: white;
    border-radius: 16px;

}


.footer{
    background-color: $footer-bg-color;
    font-size: $footer-font-size;
}

li{
    color: $li-color;
}

a{
    color: $a-color;
}

p a:hover{
    text-decoration-line: underline !important;
    
}

#aside__right{
    
  height: 1633px;
  background-color: rgb(255, 255, 255);
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 72px;
  
}

#aside__first{
  height: 608px;
  background-color: rgb(255, 255, 255);
}

#aside__right--header{
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 16px;
  border-bottom: 1px solid gray;
}

#aside__right--listings{
  color: rgb(36, 36, 36);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}


#aside__see{
  color: rgb(59, 73, 223);
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  visibility: visible;
  text-decoration: none;
}

#aside__second{
  padding: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid gray;
}

#aside__second--p1{
  font-size: 16px;
  text-decoration: none;
  color: #404040;
}

#aside__second--job{
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #717171;
}

#aside__third{
  padding: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid gray;
}

#aside__third--cont{
  font-size: 16px;
  text-decoration: none;
  color: #404040;
}

#aside__third--col{
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #717171;
}

#aside__fourth{
  padding: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid gray;
}

#aside__fourth--dep{
  font-size: 16px;
  text-decoration: none;
  color: #404040;
}

#aside__fourth--pro{
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #717171;
}

#aside__fifth{
  padding: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid gray;
}

#aside__fifth--play{
  font-size: 16px;
  text-decoration: none;
  color: #404040;
}

#aside__fifth--col{
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #717171;
}

#aside__sixth{
  padding: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid gray;
}

#aside__sixth--this{
  font-size: 16px;
  text-decoration: none;
  color: #404040;
}

#aside__sixth--col{
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #717171;
}

#aside__seventh{
  padding: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

#aside__seventh--cre{
  text-decoration: none;
  color: #404040;
}

#aside__righttwo--header{
  display: flex;
  padding: 12px 16px;
  border-bottom: 1px solid gray;
}

#aside__righttwo--dis{
  color: rgb(36, 36, 36);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

#space__one{
  background-color: rgb(229, 229, 229);
  color: rgb(229, 229, 229);
  display: block;
}