
/*
    header zone start

    header
*/

/*
    container zone start

    container zone end
*/

/*
    container zone start
        
    container zone end
*/















@import "vars.scss";


.footer{
    background-color: $footer-bg-color;
    font-size: $footer-font-size;
}

li{
    color: $li-color;
}

a{
    color: $a-color;
}

p a:hover{
    text-decoration-line: underline !important;
    
}



