// header zone start
.header__container {
  box-shadow: 0px 2px 2px rgba(159, 159, 159, 0.208);

  .menu__list {
    width: 100%;

    .input__search {
      width: 420px;
    }

    .img__container--logo {
      .img__logo {
        height: 40px;
        width: 40px;
      }
    }

    .box__user {
      .search__container--icon {
        border-radius: 10px;
        cursor: pointer;
        width: 40px;
        height: 40px;
      }

      .search__container--icon:hover {
        background-color: #a394df52;
      }

      .avatar__circle {
        border-radius: 100px;
        padding: 3px;
        cursor: pointer;

        &--container {
          width: 32px;
          height: 32px;

          .img__avatar {
            width: 100%;
            border-radius: 100px;
          }
        }
      }

      .avatar__circle:hover {
        background-color: #a394df52;
      }

      .box__notifications {
        width: 40px;
        height: 40px;
        position: relative;

        .counter__notification {
          &--number {
            font-size: 15px;
            background-color: red;
            position: absolute;
            right: 0px;
            top: -5px;
            border-radius: 7px;
            color: white;
            font-weight: bold;
            border: 2px solid white;
          }
        }
      }

      .box__notifications:hover {
        background-color: #a394df52;
        border-radius: 10px;
      }
    }
  }
}

// header zone end

// main start
.contenedor__main{
    background-color: rgba(90, 90, 90, 0.139);
}



.tags__menu{
    font-size: 18px;

    li:active{
        font-weight: bolder;
    }

}

.img__avatar{
    width: 100%;
    border-radius: 100px;
    width: 32px;
    height: 32px;
}

.nombre__usuario,.fecha__post{
    font-size: 13px;
    
}
.post__readed{
    font-size: 13px;
}

.icon__reaction{
    position: relative;
    left: -10px;
}

.comentario {
    background-color: rgba(128, 128, 128, 0.157);
}

.comentario__username{
    font-weight: bold;
}

.nav__bar_left {
  display: block;
}

.nav__bar_left ul {
  list-style-type: none;
}
// main end

/*
    container zone start
        
    container zone end
*/
